.container {
  width: var(--sizes-100);
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.title {
  margin-bottom: var(--spacings-l);
}

@media screen and (max-width: 1200px) {
  .container {
    padding: var(--spacings-3xl);
  }
}

@media screen and (max-width: 768px) {
  .container {
    padding: var(--spacings-xl);
  }
}
