.container {
  width: var(--sizes-100);
  height: 150px;
  cursor: copy;
  border: var(--borders-strong);
  display: flex;
  align-items: center;
  font-weight: var(--font-weights-bold);
  border-radius: var(--radii-s);
  justify-content: center;
  border-color: var(--colors-gray-lightest);
  transition: var(--transitions-fast);
}

.container.loading {
  cursor: unset;
}

.container.loading:hover {
  box-shadow: unset;
}

.container:hover {
  box-shadow: var(--shadows-medium);
}