@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,500;0,700;1,100;1,300;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url("./variables.css");

html,
body {
  font-family: var(--fonts-default) !important;
}

h1, h2, h2, h4 {
  font-family: var(--fonts-logo);
}

@media screen and (max-width: 768px) {
  .hide-on-sm {
    display: none;
  }
}

.navbar-logo {
  margin-right: var(--spacings-2xs);
  width: 150px;
}